# This is an example of what your terraform.tfvars should look like.
# Do NOT commit your actual terraform.tfvars file with real secrets!

aws_region      = "ap-south-1"
aws_dr_region   = "us-east-1"
environment     = "dev"

vpc_cidr        = "10.0.0.0/16"

db_username     = "admin"
db_password     = "REPLACE_WITH_SECURE_PASSWORD" # E.g., from AWS Secrets Manager in real world
